[Desktop Entry]
Type=Application
Name=NavePro
GenericName=Projeção Profissional
Comment=Sistema de projeção profissional (hinos, Bíblia, mídias)
Exec=navepro
Icon=io.github.edes_neves.NavePro
Terminal=false
Categories=AudioVideo;Education;Utility;
Keywords=hino;biblia;projecao;igreja;telao;church;hymn;projection;
StartupWMClass=Navepro
X-Flatpak-RenamedFrom=navepro.desktop;